#contact{
	position: absolute;
	width: 100%;
	margin-top: -2.6rem;
	margin-bottom: 0rem;
	padding-top: 2.3rem;
	padding-bottom: 2rem;
	padding-left: 5rem;
	background-color: black;
	color: white;
	bottom: auto;




}

.header{
	font-family: "Montserrat";
}

.content{
	font-family: "Crimson Text";
}

#cat{
	margin: 20px 0px 0px 0px;
	height: 32px;
	width: 32px;
	border: none;
	border-radius: 0px;
}

#email{
	margin: 20px 0px 0px 10px;
	height: 32px;
	width: 32px;
	border: none;
	border-radius: 0px;

}

#icon{
	margin: 20px 0px 0px 10px;
	height: 32px;
	width: 40px;
	border: none;
	border-radius: 0px;
}

