#origin{
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: 100px;
	margin-left: 100px;
	padding: 5px;
}


.header{
	font-family: "Montserrat";
}

.content{
	font-family: "Crimson Text";
}

p{
	margin-bottom: 1.5rem;
}





.buffer{
	height: 5rem;
}